.user-list {

}

.user-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.users-container {
  padding-top: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.form-row {
  width: 400px;
  display: flex;
}
.form-row > span {
  width: 40%;
  display: block;
}

.form-row > input {
  width: 60%;
}

.form {
  display: flex;
}
.side-panel {
  display: flex;
  height: calc(100% - 20px);
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  border-right: grey solid 2px;
}

.selected-user {
  background-color: antiquewhite;
}

input {
  height: 25px;
  border-radius: 5px;
}

input::placeholder {
  font-style: italic;
  opacity: 0.7;
}

button {
  height: 25px;
}

.App {
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
}
